/* main.css */
@import url('base.css');
@import url('components.css');
@import url('layout.css');
@import url('theme.css');

h1 {
    background-color: aqua;
    font-size: 2em;
    margin-bottom: calc(var(--margin)* 2);
}

p {
    color: aqua;
    margin-bottom: var(--margin);
}